<!DOCTYPE html>
<html>
<html lang="en-US">

<head>
    <title>Arc Password Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="../assets/css/index.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="index">
        <div class="title">
            <center>Arc</center>
        </div>
        <div class="description">
            <center>Keep Yourself Safe.<br>Secure, Advanced, and Customizable Software at Your Service.</center>
        </div>
        <div id="actions">
            <input class="action-btn" id="action-btn" value="Login" type="submit"
                onclick="javascript:location.href='login.html'">
            <input class="action-btn" id="action-btn" value="Sign up" type="submit"
                onclick="javascript:location.href='signup.html'">
        </div>
    </div>
</body>

</html>