<!DOCTYPE html>
<html>
<html lang="en-US">

<head>
    <title>Willow Password Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="../assets/css/index.css" rel="stylesheet">
    <script type="text/javascript" src="../scripts/index.js"></script>
</head>

<body>
    <div class="container">
        <div class="title">
            <p>Willow</p>
        </div>
        <div class="description">
            <p>Secure, Advanced, and Customizable.</p>
        </div>
        <div id="actions">
            <input class="action-btn" id="action-btn" value="Login" type="submit"
                onclick="javascript:location.href='login.html'">
            <input class="action-btn" id="action-btn" value="Signup" type="submit"
                onclick="javascript:location.href='signup.html'">
        </div>
    </div>
</body>

</html>