html {
	background-origin: border-box;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
	background-image: url('../img/background900.jpg');
	background-repeat: no-repeat;
	background-size: auto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.validation-block {
	width: 22.5rem;
	border-radius: 15px;
	background-color: rgba(28, 28, 33, 0.92);
	padding: 0.25rem 0.25rem;
}

.validation-block > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 72px;
	height: 6rem;
	color: white;	
}

.description {
	font-weight: normal;
	font-size: 20px;
	font-style: italic;
	height: 4rem;
	color: white;
	font-family: 'Bitter';
}

.details {
	font-style: italic;
}

.action-btn {
	background-color: whitesmoke;
	color: black;
	justify-content: center;
	border: none;
	border-radius: 10px;
	width: 175px;
	height: 50px;
	outline: none;
	font-size: large;
	cursor: pointer;
	margin: 10px;
}

#actions {
	text-align: center;
}

#loginArc-btn,
#signupArc-btn {
	background-color: transparent;
	color: white;
	font-size: 16px;
	text-decoration: underline;
	width: 275px;
	height: 35px;
}

.input-bar {
	outline: none;
	border: none;
	border-bottom: 2px solid black;
	background-color: rgba(255, 255, 255, 0);
	margin: 10px;
	font-size: 24px;
	font-family: 'Bitter';
	color: white;
	padding: 5px 5px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
}

#login-error-message{
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Bitter';
	margin-top: 0.5rem;
	margin-left: 2rem;
	display: none;
	padding-bottom: 0.5rem;
}

#signup-error-message{
    color: red;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Bitter';
	margin-top: 0.5rem;
	margin-left: 1rem;
	display: none;
	padding-bottom: 0.5rem;
}

#password-match-error{
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Bitter';
	margin-top: 0.5rem;
	margin-left: 4.5rem;
	display: none;
	padding-bottom: 0.5rem;
}

#field-empty{
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Bitter';
	margin-top: 0.5rem;
	margin-left: 3.8rem;
	display: none;
	padding-bottom: 0.5rem;
}

@media (min-width: 900px), (min-height: 700px) {
	html,
	body {
		background-image: url('../img/background1920.jpg');
	}
}
